VUE_APP_API_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOlwvXC9sb2NhbGhvc3Q6ODAwMFwvYXBpXC9sb2dpbiIsImlhdCI6MTYyMzAyOTIzOCwiZXhwIjoxNjIzMTE1NjM4LCJuYmYiOjE2MjMwMjkyMzgsImp0aSI6InNybEszZGhLRGQ3bGdTMW4iLCJzdWIiOjIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.eDn0EnhqhiKP_JEEthtBFFbtaidmmmuHvvXm3yWL9UA
VUE_APP_API_BASE_URL=http://localhost:8000/api